@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background-color: #f5f5f5;
}

/******************************
* Header *
******************************/

.header {
  height: 60px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  color: rgb(87, 87, 87);
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 20px;
  position: fixed; /* Make the header fixed */
  top: 0; /* Stick to the top */
  left: 0;
  width: 100%; /* Full width */
  z-index: 10000; /* Ensure it stays above other elements */
}

.header i {
  color: #334155;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  color: #334155;
}

.logo img {
  height: 40px;
  margin-top: 5px;
}

/* Add this to your index.css or appropriate stylesheet */
@media (max-width: 630px) {
  .search-container {
    display: none;
  }
}

/******************************
* Sidebar *
******************************/

.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  height: calc(100% - 60px);
  background-color: white;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  width: 220px;
  transition: transform 0.3s ease;
  z-index: 2000;
}

.sidebar.closed {
  transform: translateX(-100%);
}

/* Ensure the sidebar is open by default on larger screens */
@media (min-width: 769px) {
  .sidebar {
    transform: translateX(0);
  }

  .content {
    margin-left: 220px;
  }
}

/* Ensure the sidebar is closed by default on smaller screens */
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .content {
    margin-left: 0;
  }

  .content.sidebar-open {
    margin-left: 220px;
  }
}

/******************************
* Content *
******************************/

.content {
  margin-top: 60px;
  transition: margin-left 0.3s ease;
}

.content.sidebar-closed {
  margin-left: 0; /* Adjust margin when sidebar is closed */
}

.grd-bg {
  background: linear-gradient(to left, #2B00A7, #7F518A);
}

.grd-bg:hover {
  background: linear-gradient(to left, #1d026e, rgb(86, 54, 94));
}

.grd-bg2 {
  background: linear-gradient(to right, #161647, #3535AD);
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent backdrop */
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000; /* Make sure the modal is above other content */
}

/* Modal Content */
.modal {
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  width: 400px; /* Adjust the width as needed */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Modal Header */
.modal-content h2 {
  margin-bottom: 10px;
}

.tox .tox-menu {
  z-index: 9000999 !important;
}

/* index.css */

